<div class="autorComment">
  <%= comment.comment %>
  <p><%= comment.created_at.strftime("%Y-%m-%d") %></p>
  <hr>
</div>
<div class="bodyComment">  
  <%= comment.body %>
  <hr>
</div>
  <%= link_to 'Destroy Comment', [comment.post, comment],
               :confirm => 'Are you sure?',
               :method => :delete %>
</p>