<%= form_for([@post, @post.comments.build]) do |f| %>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="addComments">
        <%= f.text_field :comment, class: "form-control", placeholder: "Name" %>
        <%= f.text_area :body, class: "form-control", placeholder: "Your description" %>
        <%= f.submit "Dodaj", class: "sendComment" %>
      </div>
    </div>
  </div>
</div>
<% end %>
