<p> Dear Followers: </p>
<p> Those are the lastest entries to our blog. We invite you to read and share everything we did on this week. </p>

<br/>
<table>
	<div class="col-md-4">
      <div class="imageCircle">
        <%= image_tag("img/me.jpg", size: "100", class: "rounded-circle") %></p>
      </div>
    </div>
<% @post.each do |post| %>
  <%#= link_to blog_url(post) do %>
      <tr style="display:flex; float:left; clear:both;">
        <td style="display:flex; float:left; clear:both; height: 80px; width: 100px;">
        </td>
        <td>
          <h3>
           <%= post.title %>
          </h3>
          <p><%= post.description %></p>
        </td>
        <td style="display:flex; float:left; clear:both;">
           
        </td>
      </tr>
  <%# end %>
<% end %>
</table>