<h1>Settings#index</h1>
<p>Find me in app/views/settings/index.html.erb</p>
<p>
	Unhappy?
	<%= link_to "Cancel my account",
	registration_path(current_user),
	data: { confirm: "Are you sure?" },
	method: :delete %>
</p>
<p><%= link_to " Zmień hasło " , edit_user_registration_path %></p>
