<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="titleContact">
        <p>Kontakt</p>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="addressContact">
        <h2>Adres</h2>
        <p>8-ego marca 7a, Władysławowo, Polska</p>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="phoneContact">
        <h2>Telefon</h2>
        <p>698-969-709</p>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="emailContact">
        <h2>Email Adres</h2>
        <p>pienczyndominika@wp.pl</p>
      </div>
    </div>
  </div>
</div>
