<div class="col-sm-4">
	<% if post.image.attached? %>
	<div class="img">
		<%= image_tag post.image.variant(resize: "500x500"), class: 'img-fluid' %>
	</div>
	<% end %>
	<div class="date">
		<hr><%= post.created_at.strftime("%b %d") %>
	</div>
	<div class="title">
		<a><%= link_to post.title, post %></a><hr>
	</div>
</div>