<div class="container">
  <div class="row">
    <div class="col-md-3">
      <div class="titleContact">
        <p>Kontakt</p><hr>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-5">
      <div class="titleContact">
        <p></p>
      </div>
    </div>
  </div>
</div>
