.postComment label{
	font-family: "LTCBodoni175W01-Regular";
	font-size: 19px;
	font-weight: 400;
    font-style: normal;
    letter-spacing: 0px;
    line-height: 1.3em;
    text-decoration: none;
    text-transform: none;
    color: #000;
}
.autorComment{
	padding-top: 40px;
	font-size: 20px;
	margin-left: 10px;
	font-family: "LTCBodoni175W01-Regular";
	font-weight: 600;
	font-style: normal;
	letter-spacing: 0px;
	line-height: 1.3em;
	text-decoration: none;
	text-transform: none;
}
.autorComment p{
   float: right;
   font-size: 17px;
	margin-left: 10px;
	font-family: "Times New Roman",Times,serif;
	font-weight: 400;
	font-style: normal;
	letter-spacing: 0px;
	line-height: 1.3em;
	text-decoration: none;
	text-transform: none;
	color: #e2dedebf;
}
.autorComment hr{
	width: 100%;
	background-color: #f0f0f0;
}
.bodyComment hr{
	width: 100%;
	background-color: #f0f0f0;
}
.bodyComment{
   font-size: 18px;
	margin-left: 10px;
	font-family: "Times New Roman",Times,serif;
	font-weight: 400;
	font-style: normal;
	letter-spacing: 0px;
	line-height: 1.3em;
	text-decoration: none;
	text-transform: none;
	color: #7972729e;
}
.addComments .form-control{
    font-size: 18px;
	margin-left: 10px;
	font-family: "LTCBodoni175W01-Regular";
  font-style: normal;
  letter-spacing: 0em;
  opacity: 1;
  line-height: 200%;
  font-weight: 600;
  font-style: normal;
  letter-spacing: 0em;
  opacity: 1;
  line-height: 200%;
}
.addComments{
	padding-top: 50px;
	padding-left: 15px;
}