.titleContact p{
  color: #000000;
  text-decoration: none;
  font-family: "LTCBodoni175W01-Regular";
  font-size: 22px;
  padding-bottom: 20px;
  font-weight: 600;
  margin-top: 16px;
  letter-spacing: 0em;
  opacity: 0.9;
  line-height: 200%;
  text-align: center;
}
.titleContact hr{
  background-color: #f0f0f0;
  width: 50%;
}
