@font-face {
   font-family: 'Amatic SC', cursive;
   src: font-url('AmaticSC/AmaticSC-Regular.ttf');
   font-weight: 400;
   font-style: normal;
}
@font-face {
   font-family: 'Amatic SC', cursive;
   src: font-url('AmaticSC/AmaticSC-Bold.ttf');
   font-weight: 700;
   font-style: normal;
}
@font-face {
   font-family: 'Neucha', cursive;
   src: font-url('Neucha/Neucha-Regular.ttf');
   font-weight: 400;
   font-style: normal;
}
@font-face {
   font-family: 'Yeseva One', cursive;
   src: font-url('YesevaOne/YesevaOne-Regular.ttf');
   font-weight: 400;
   font-style: normal;
}
@font-face {
   font-family: 'Bentham', serif;
   src: font-url('Bentham/Bentham-Regular.ttf');
   font-weight: 400;
   font-style: normal;
}
@font-face {
   font-family: 'Merriweather', serif;
   src: font-url('Merriweather/Merriweather-Regular.ttf');
   font-weight: 400;
   font-style: normal;
}
@font-face {
   font-family: 'Merriweather', serif;
   src: font-url('Merriweather/Merriweather-Bold.ttf');
   font-weight: 700;
   font-style: normal;
}
@font-face {
   font-family: 'Merriweather', serif;
   src: font-url('Merriweather/Merriweather-BoldItalic.ttf');
   font-weight: 700;
   font-style: italic;
}
@font-face {
   font-family: "LTCBodoni175W01-Regular";
   src: font-url('LTCBodoni/LTCBodoni175W01Regular.ttf');
   font-weight: 400;
   font-style: normal;
}