// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.btn-outline-info {
	text-transform: uppercase;
}
h1 {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 30px;
	text-align: center;
	letter-spacing: 5px;
	text-shadow: -2px -2px 5px #17a2b8;
}
